@import '/_base';

.banner-section {
  box-sizing: border-box;
  
  $illustration-width-desktop: 470px;

  @include respond-to(not-mobile) {
    padding-top: calc(100vh / 12);
    .section-content {
      height: 570px;
    }
    .banner-main-text {
      width: $standard-content-width - $illustration-width-desktop;
      height: 100%;
    }
    .banner-illustration {
      width: $illustration-width-desktop;
      position: absolute;
      bottom: 0;
      left: $standard-content-width - $illustration-width-desktop;
    }
  }

  .dp-headline {
    line-height: 1;
    .first-line {
      margin-bottom: 1.5rem;
    }
  }
  
  .dp-sub-link {
    display: block;
    color: $color-brand-primary;
    font-family: $font-base-semibold;
    margin-bottom: 0.5rem;
  }

  .phase {
    display: inline-block;
  }

  .link-section {
    margin: 2.5rem 0 0 0;
  }

  .link-subsection {
    width: 50%;
    float: left;
  }
}

@include respond-to(mobile) {
  .banner-section {
    width: 100%;
    
    .link-section,
    .link-subsection {
      width: 100%;
    }

    .link-section {
      margin-top: 3.5rem;
    }

    .link-subsection {
      margin-top: 0.75rem;
    }

    .heading-5 {
      margin-top: 0;
    }

    .link-subsection,
    .dp-sub-link {
      margin-bottom: 0.75rem;
    }
    
    .banner-illustration {
      width: 295px;
      height: 295px;
      margin-top: 2.5rem;
    }
  }
}