/* Base Color Tokens */

// Brand Colors
$color-brand-primary: #0146f5;
$color-brand-primary-mid: #002c9b;
$color-brand-primary-dark: #001532;

// Neutral Colors
$color-gray: #8b96a4;
$color-gray-light: #afb4be;
$color-gray-dark: #455563;
$color-white: #ffffff;
$color-gray-super-light: #fcfcfc;
$color-gray-background-block: #f1f1f1;
$color-soft-blue: #bbcdf8;

/* Typography Tokens */

// Font Family
@font-face {
  font-family: 'Graphik';
  src: url(../../public/graphik_font/Graphik-Regular.ttf) format('truetype');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik-Medium';
  src: url(../../public/graphik_font/Graphik-Medium.ttf) format('truetype');
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik-Semibold';
  src: url(../../public/graphik_font/Graphik-Semibold.ttf) format('truetype');
  font-style: normal;
  font-stretch: normal;
}

$font-base: 'Graphik';
$font-base-medium: 'Graphik-Medium';
$font-base-semibold: 'Graphik-Semibold';

// Font Weight
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-weight-super: 900;

$font-italic: italic;

// Font Size
$font-size-x-small: 0.75rem; // 12px
$font-size-med-small: 0.875rem; // 14px
$font-size-medium: 1rem; // 16px
$font-size-med-large: 1.125rem; //18px
$font-size-xx-medium: 1.25rem; //20px
$font-size-large: 1.5rem; // 24px
$font-size-x-large: 2rem; // 32px
$font-size-xx-large: 2.875rem; // 46px
$font-size-xxx-large: 3.5rem; // 56px
$font-size-xxxx-large: 6rem; // 96px

// Line Height
$line-height-small: 1;
$line-height-medium: 1.25;
$line-height-large: 1.5;
$line-height-x-large: 2;
$line-height-xx-large: 2.25;

/* Box Shadow Token */
$card-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
$button-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
$nav-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);

/* Border token */
$border-radius: 4px;

// Media Queries
$break-mobile-x-small: 490px;
$break-mobile-small: 575px;
$break-mobile: 768px;
$break-tablet: 1024px;
$break-large: 1440px;

@mixin respond-to($media) {
  @if $media == mobile-x-small {
    @media only screen and (max-width: $break-mobile-x-small) {
      @content;
    }
  }
  @if $media == mobile-small {
    @media only screen and (max-width: $break-mobile-small) {
      @content;
    }
  }
  @if $media == mobile {
    @media only screen and (max-width: $break-mobile) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $break-mobile + 1) and (max-width: $break-large) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $break-large + 1) {
      @content;
    }
  } @else if $media == not-mobile {
    @media only screen and (min-width: $break-mobile + 1) {
      @content;
    }
  }
}

@mixin image-background($asset) {
  background-image: linear-gradient(211deg, rgba(1,70,245, 0.8), rgba(0,44,155, 0.8)), 
                    url(#{$asset});
}

.hidden-mobile {
  @include respond-to(mobile) {
    display: none;
  }
}

// Layout Utilities
$full-panel-height: 101vh; // intentionally set just above 100vh to include a bit of buffer

$side-nav-width: 122px; // to be used where needed
$standard-content-width: 960px; // max-width of section-content for most sections (some exceptions exist)

$section-default-padding-lr: $side-nav-width + 40px; // default left/right section padding to ensure content does not overlap side nav
// $section-default-padding-tb: 10vh;                  // default top/bottom section padding, vertically responsive option
$section-default-padding-tb: 80px; // default top/bottom section padding, standard pixel height based on zeplin

@mixin section-standard-padding {
  padding: 0 $section-default-padding-lr;
}

// Misc. helper classes
.display-block {
  display: block;
}
.semibold {
  font-family: $font-base-semibold;
}
