/* Base Color Tokens */

// Brand Colors
$color-brand-primary: #0146f5;
$color-brand-primary-dark: #001532;

// Neutral Colors
$color-gray: #8B96A4;
$color-gray-light: #AFB4BE;
$color-gray-dark: #455563;
$color-white: #FFFFFF;


/* Typography Tokens */

// Font Family
@font-face {
  font-family: 'Graphik';
  src: url(../../public/graphik_font/Graphik-Regular.ttf) format('truetype');
  font-style: normal;
  font-stretch: normal;
}

// Font Weight
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;
$font-weight-super: 900;

$font-italic: italic;

// Font Size
$font-size-x-small: 0.75rem;      // 12px
$font-size-medium: 1rem;          // 16px
$font-size-large: 1.5rem;         // 24px
$font-size-x-large: 2rem;         // 32px
$font-size-xx-large: 2.875rem;    // 46px
$font-size-xxx-large: 3.5rem;     // 56px
$font-size-xxxx-large: 6rem;      // 96px

// Line Height
$line-height-small: 1;
$line-height-medium: 1.25;
$line-height-large: 1.5;
$line-height-x-large: 2;
$line-height-xx-large: 2.25;

/* Box Shadow Token */
$card-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
$button-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);

/* Border token */
$border-radius: 4px;

// Media Queries
$break-mobile: 376px;
$break-tablet: 1024px;
$break-large: 1440px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-mobile) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-mobile) and (max-width: $break-large) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
