@import '/_base';
.art-possible-section {
  margin: 0 auto;
  height: 800px;
  background-color:$color-brand-primary-dark;
  display: flex;
  align-items: center;
}

.art-possible {

  &-container {
    width: 100%;
  }

  &-header {
    margin: 0 auto;
    width: 37.5rem;
    padding-top: 1.5rem;

    .heading-2 {
      color: $color-white
    }
  }

  &-body {
    margin: 0 auto;
    width: 37.5rem;
    padding-top: 1rem;

    .body-text-2 {
      color: $color-white;
      line-height: 2;
    }
  }


}

.dp-icon {
  font-family: Graphik;
  font-size: $font-size-x-large;
  font-weight: $font-weight-semibold;
  font-style: normal;
  font-stretch: normal;
  line-height: $line-height-medium;
  color: $color-white;
}

