@import '/_base';



.capabilities-section {

  $main-text-col-width: 320px;

  height: auto;

  position: relative;

  @include respond-to(not-mobile) {
    height: 820px;    // somewhat arbitrary. update as needed.
    padding-left: 120px;    // should be width of side-nav
  }

  @include respond-to(mobile) {
    padding: 0 !important;
  }

  .caption:first-of-type {
    margin-bottom: 0;
  }

  .heading-2 {
    margin-top: 26px;
    @include respond-to(mobile) {
      margin-top: 14px;
    }
  }

  .body-text-2 {
    line-height: 2;
    margin-bottom: 40px;
    @include respond-to(mobile) {
      margin-bottom: 32px;
    }
  }

  .two-thirds-desktop {
    background: $color-gray-super-light;  
    @include respond-to(not-mobile) {
      height: 100%;
      width: calc(100% / 3 * 2);
      float: left;
    }
  }

  .one-third-desktop {
    min-height: 400px;
    @include respond-to(not-mobile) {
      height: 100%;
      width: calc(100% / 3);
      float: right;
    }
  }

  .capabilities-background-image {
    @include respond-to(mobile) {
      background-image: linear-gradient(211deg, rgba(1,70,245, 0.8), rgba(0,44,155, 0.8)), 
                        url(../assets/capabilities.jpg);
    }
    @include respond-to(tablet) {
      background-image: linear-gradient(211deg, rgba(1,70,245, 0.8), rgba(0,44,155, 0.8)), 
                        url(../assets/capabilities@2x.jpg);
    }
    @include respond-to(desktop) {
      background-image: linear-gradient(211deg, rgba(1,70,245, 0.8), rgba(0,44,155, 0.8)), 
                        url(../assets/capabilities@3x.jpg);
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: $color-brand-primary;   // fallback
  }

  .capabilities-main-text-col {
    width: $main-text-col-width;
    padding: 80px 0;
    margin-left: 120px;
    @include respond-to(mobile) {
      width: 100%;
      padding: 40px;
      margin-left: 0;
    }
  }

  /* Any button styles specific to this section go here.
    Everything else is inherited from global .button-inset, 
    .button-inset-full, and .button-inset-mobile styles. */
     
  .buttons {
    display: flex;
    flex-direction: column;
    @include respond-to(mobile) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .button-inset {
    @include respond-to(mobile) {
      &:first-of-type {
        margin-right: 16px;
      }
    }
    @include respond-to(not-mobile) {
      width: 307px;
      &:first-of-type {
        margin-bottom: 16px;
      }
    }
  }

  .main-text-col {
    .caption,
    .heading-2,
    .body-text-2,
    .button-inset {
      opacity: 0;
    }
  }
  .dp-card {
    opacity: 0;
  }

  $default-card-width: 280px;
  $card-container-padding: 16px;
  
  /* Scrollable card items style */
  .capabilities-card-container {
    position: absolute;
    left: 624px; // temp value
    top: 0;
    height: 100%;
    padding-top: 120px;
    padding-left: $card-container-padding;
    padding-right: $card-container-padding;
    width: calc(2 * $default-card-width + 2 * $card-container-padding + 20px);  
    width: 612px; // should equal the result of the calc above... which for some reason keeps coming up as invalid...
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
    @include respond-to(mobile) {
      display: none;
    }
  }

  .dp-card {
    width: $default-card-width;
    z-index: 1;
    padding: 40px 60px 40px 40px;
    margin-bottom: 20px;

    .dp-card-title {
      font-size: $font-size-large;
    }
  }


  .capabilities-design-card-container,
  .capabilities-dev-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  // alter relative positioning of right-hand cards
  .design-card-2,
  .design-card-4,
  .dev-card-2,
  .dev-card-4 {
    margin-top: -60px;
    margin-bottom: 68px;
  }



  /* Main Text Animation */
  @keyframes fade-in {
    from  { opacity: 0; }
    to    { opacity: 1; }
  }
  
  @mixin fade-in-on-delay($delay) {
    opacity: 0;
    animation: fade-in 1.5s ease-in-out $delay forwards;
  }

  $delay-multiplier: 0.1s;

  .fade-in-elem.caption:first-of-type {
    @include fade-in-on-delay(1 * $delay-multiplier);
  }
  .fade-in-elem.heading-2 {
    @include fade-in-on-delay(2 * $delay-multiplier);
  }
  .fade-in-elem.body-text-2 {
    @include fade-in-on-delay(3 * $delay-multiplier);
  }
  .fade-in-elem.button-inset:first-of-type {
    @include fade-in-on-delay(4 * $delay-multiplier);
  }
  .fade-in-elem.button-inset:nth-of-type(2) {
    @include fade-in-on-delay(5 * $delay-multiplier);
  }
  /* End Main Text Animation */


  /* Cards Animation */
  @keyframes fade-in-slide-up {
    from {
      opacity: 0;
      margin-top: 28px;
    }
    to {
      opacity: 1;
      margin-top: 8px;
    }
  }

  @keyframes fade-in-slide-up-higher {
    from {
      opacity: 0;
      margin-top: -20px;
    }
    to {
      opacity: 1;
      margin-top: -40px;
    }
  }

  $card-animation-duration: 1s;

  @mixin fade-in-slide-up-on-delay($delay) {
    opacity: 0;
    animation: fade-in-slide-up $card-animation-duration ease-in-out $delay forwards;
  }

  @mixin fade-in-slide-up-higher-on-delay($delay) {
    opacity: 0;
    animation: fade-in-slide-up-higher $card-animation-duration ease-in-out $delay forwards;
  }

  $card-delay-multiplier: 0.1s;

  .design-card-1.first-animation {
    @include fade-in-slide-up-on-delay(1 * $card-delay-multiplier);
  }
  .design-card-2.first-animation {
    @include fade-in-slide-up-higher-on-delay(2 * $card-delay-multiplier);
  }
  .design-card-3.first-animation {
    @include fade-in-slide-up-on-delay(3 * $card-delay-multiplier);
  }
  .design-card-4.first-animation {
    @include fade-in-slide-up-higher-on-delay(4 * $card-delay-multiplier);
  }
  .dev-card-1.first-animation {
    @include fade-in-slide-up-on-delay(5 * $card-delay-multiplier);
  }
  .dev-card-2.first-animation {
    @include fade-in-slide-up-higher-on-delay(6 * $card-delay-multiplier);
  }
  .dev-card-3.first-animation {
    @include fade-in-slide-up-on-delay(7 * $card-delay-multiplier);
  }
  .dev-card-4.first-animation {
    @include fade-in-slide-up-higher-on-delay(8 * $card-delay-multiplier);
  }
  .dev-card-5.first-animation {
    @include fade-in-slide-up-on-delay(9 * $card-delay-multiplier);
  }
  /* End Cards Animation */
}