@import './_base';

.contact-section {

  $content-max-width: 1200px;
  $slider-width: 812px;   // based on zeplin mockups. can be changed if needed.

  position: relative;
  padding-top: 80px;
  background: #fafafa;

  @include respond-to(not-mobile) {
    padding-right: 0;       // section-specific override of standard section padding
    .section-content {
      max-width: $content-max-width;    // section-specific override of standard max-width for .section-content
    }
    .main-text-col {
      width: $content-max-width - $slider-width;
    }
    .lower-portion-background-desktop {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: $color-gray-background-block;
    } 
  }

  .heading-2 {
    margin-top: 8px;
  }

  .contact-detail {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px;
  }

  .contact-detail-header {
    margin-top: 40px;
  }

  .contact-icon {
    height: 24px;
  }

  .horizontal-align {
    display: flex;
    align-items: center;
  } 

  .contact-card-container {
    // need to figure out the width of the whole container holding the items
    @include respond-to(not-mobile) {
      z-index: 2;
      // left: 44%;
      left: 27.5rem;
      bottom: 10rem;
    }
  }

  .slick-slide {
    margin-right: 20px;
  }

  .image-place-holder {
    width: 225px;
    height: 336px;
    background-image: linear-gradient(214deg, #0146f5, #002c9b);
  }
}

.custom-arrow-container {
  position: fixed;
  top: 36rem;
  left: 10.2rem;
  cursor: pointer;
  z-index: 100;
  // right: calc(2% - 60px);
  // top: 14rem;
}

.prev-arrow-custom,
.next-arrow-custom {
  width: 44px;
  height: 44px;
  background: $color-brand-primary;
  color: $color-white; 
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
  box-shadow: none;
  &:focus {
    background: $color-brand-primary;
  }
  &:hover {
    background: $color-white;
    color: $color-gray-light;
  }
}
