@import './_base';

.contact-section {

  $content-max-width: 1200px;
  $slider-width: 812px;   // based on zeplin mockups. can be changed if needed.

  position: relative;
  background: #fafafa;
  overflow: hidden;
  
  @include respond-to(not-mobile) {

    .section-content {
      margin-top: 80px;
    }

    .main-text-col {
      width: $content-max-width - $slider-width;
    }
  }

  @include respond-to(mobile) {
    height: 940px;
    padding-top: 0 !important;
    z-index: 5;

    .caption {
      margin-top: 64px;
    }
  }

  .lower-portion-background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $color-gray-background-block;
    @include respond-to(not-mobile) {
      height: 409px;
    }
    @include respond-to(mobile) {
      height: 390px;
      z-index: -1;
    }
  } 

  .heading-2 {
    margin-top: 8px;
    @include respond-to(mobile) {
      font-size: 2rem;
    }
  }

  .contact-detail {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px;
  }

  .contact-section-headline {
    margin-bottom: 40px;
  }

  .contact-detail-header {
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .email-header {
    margin-top: 24px;
  }

  .contact-icon {
    height: 24px;
  }

  .horizontal-align {
    display: flex;
    align-items: center;
  }

  .contact-email {
    margin-bottom: 64px;
  }
  
  .custom-arrow-container {
    position: absolute;
    left: 3.2px;
    bottom: 24.825rem;
    cursor: pointer;
    z-index: 100;
    @include respond-to(mobile) {
      display: none;
    }
  }
  
  .prev-arrow-custom,
  .next-arrow-custom {
    width: 44px;
    height: 44px;
    background: $color-brand-primary url(../assets/chevron.png) 50% no-repeat;
    border-style: solid;
    border-color: $color-brand-primary;

    &:focus {
      background: $color-brand-primary url(../assets/chevron.png) 50% no-repeat;;
      border-color: $color-brand-primary;
    }

    @include respond-to(mobile) {
      display: none;
    }
  }
  
  .prev-arrow-custom {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
  }

  .slick-disabled {
    background: #fafafa url(../assets/chevron-grey.png) 50% no-repeat !important;
    border-color: $color-white !important;
  }

  .contact-card-container {
    // need to figure out the width of the whole container holding the items
    @include respond-to(not-mobile) {
      z-index: 2;
      left: 45%;
      bottom: 212px;
    }
    @include respond-to(mobile) {
      bottom: 25px !important;
    }
  }

  .slick-list {
    @include respond-to(mobile) {
      overflow: visible;      
    }
  }

  .slick-slide {
    margin-right: 20px;
    @include respond-to(mobile) {
      width: 216px;
      margin-bottom: 24px;
    }
  }

  .contact-img {
    width: 225px;
    height: 336px;
    background-image: linear-gradient(214deg, #0146f5, #002c9b);
  }

  .body-text-2 {
    line-height: 0.5;
  }
  
  .boston {
    @include image-background('../assets/boston.png');
  }
  .new-york {
    @include image-background('../assets/ny.png'); 
  }
  .houston {
    @include image-background('../assets/houston.png')
  }

  .chicago {
    @include image-background('../assets/chicago.jpg')
  }

  .scroll-bar-mobile {
    width: 73.5px !important;
    height: 8px;
    background: $color-brand-primary;
    border-radius: 15%;
    margin-bottom: 64px;
    @include respond-to(not-mobile) {
      display: none;
    }
  }

}