@import '/_base';

// Desktop Navigation
.dp-nav {
  color: black;
  position: fixed;
  top: -3rem;
  font-family: 'Graphik';
  z-index: 100;
  @include respond-to(mobile) { display: none; }

  .nav-center {
    margin: -16px 0px -13px 0;
  }


  ul li {
    // margin: 4rem 1rem;
    display: flex;
    justify-content: space-evenly;

    a {
      display: block;
      height: 100%;
      text-decoration: none;
      margin: 2.5rem 1rem;
      font-size: $font-size-medium;
      color: $color-gray;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg); /* Safari and Chrome */
      -moz-transform: rotate(-90deg);   /* Firefox */
      -ms-transform: rotate(-90deg);   /* IE 9 */
      -o-transform: rotate(-90deg);   /* Opera */
    }


    a.active, a:hover {
      color: $color-brand-primary;
    }
  }
}

.dp-logo { 
  background-image: url("../assets/nav_logo.svg");
  width: 3rem;
  height: 3.25rem;
  margin: 0.635rem -2rem 0 -2.5rem;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -moz-transform: rotate(-90deg);   /* Firefox */
  -ms-transform: rotate(-90deg);   /* IE 9 */
  -o-transform: rotate(-90deg);   /* Opera */
}


// Mobile Navigation
.mobile-nav {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  background-color: $color-white;
  z-index: 999;
  @include respond-to(desktop) { display: none; }
  @include respond-to(tablet) { display: none; }
}

.dp-mobile-logo {
  background-image: url("../assets/mobile_logo.svg");
  width: 87.5px;
  height: 24px;
}

nav {
  box-shadow: $nav-shadow !important;

  .nav-wrapper {
    display: flex !important;
    align-items: center !important;

    .sidenav-trigger {
      margin: 0 24px;
    }
  }

  a {
    color: $color-brand-primary !important;
  }
}

.sidenav {
  li {
    &:nth-child(2) {
      margin-top: 2.1875rem;
    }
      a  {
        // color: $color-brand-primary;
        font-family: Graphik;
        line-height: $line-height-medium !important;
        text-align: center;
        letter-spacing: -0.3px !important;
        font-size: $font-size-x-large !important;
        font-weight: $font-weight-regular !important;

        &:active {
          font-weight: $font-weight-semibold !important;
        }
      }
      a:hover {
        color: $color-brand-primary;
        background-color: white !important;
      }
      a.active {
        color: $color-brand-primary;
      }
  }
}

.mobile-icon {
  margin-left: 24px;
  cursor: pointer;
  font-size: $font-size-large;

  &:hover {
    color: $color-brand-primary;
  }
}