@import './_base';

.services-section {

  position: relative;
  background-color: $color-brand-primary-dark;

  @include respond-to(mobile) {
    padding: 64px 64px 0 40px;
  }
  
  @include respond-to(not-mobile) {
    padding-top: $section-default-padding-tb;
    padding-bottom: $section-default-padding-tb;
    .section-content {
      max-width: 1132px;  // total length of the timeline. this is a section-specific override of the standard max-width for .section-content
    }
    .lower-portion-background-desktop {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 42%;
      background-color: $color-gray-super-light;
    }  
  }

  .services-intro-text {
    max-width: $standard-content-width;   // 960px, or standard content width for most sections. narrower than the timeline element.
    margin: 0 auto 48px auto;
    .caption,
    .heading-2 {
      color: $color-white;
    }
    .caption {
      margin: 0;
    }
    .heading-2 {
      @include respond-to(not-mobile) {
        margin: 20px 0 0 0;
      }
      @include respond-to(mobile) {
        font-size: $font-size-x-large;
        margin: 16px 0 0 0;
      }
    }
  }
  
  
}