@import '/_base';

.team-section {
  height: 1640px;
  background-color: $color-white;
  $lower-section-height-desktop: 36vh;
  position: relative;

  @include respond-to(mobile) {
    height: auto;
    // min-height: 1216px; //height of Our Team section
    min-height: 1898px;
  }

  @include respond-to(not-mobile) {
    padding-top: $section-default-padding-tb;

    .section-content {
      height: 930px;
    }
  }

  .team-intro-text {
    text-align: left;
    z-index: 500;

    @include respond-to(mobile) {
      width: 100%;
      padding-top: 4px;
      max-width: 272px;
    }

    @include respond-to(not-mobile) {
      width: 640px;
      max-width: 640px;
      position: sticky;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      top: 80px;
    }

    .caption:first-of-type {
      margin: 0;
    }

    .heading-2 {
      margin-top: 16px;
      @include respond-to(mobile) {
        margin-top: 14px;
      }
    }

    .body-text-1 {
      line-height: 1.67;

      @include respond-to(mobile) {
        font-size: $font-size-medium;
        line-height: 2;
      }
    }
  }

  .lower-portion-background {
    width: 100%;
    height: 820px;
    position: absolute;
    left: 0;
    bottom: 0;

    @include respond-to(not-mobile) {

      .section-content {
        z-index: 100;
      }
    }

    @include respond-to(mobile) {
      bottom: -137px;
      background-color: $color-gray-background-block;
      padding: 3.75rem 2.5rem 0;
      // padding: 0 2.5rem 3.75rem 2.5rem;
    }
  }

  .vertical-lines-team-bottom {
    left: 478px;
    z-index: 0;
  }

  .team-section-title {
    font-size: $font-size-x-large;
    font-family: $font-base-semibold !important;
    margin-bottom: 24px;

    @include respond-to(mobile) {
      width: 75%;
    }
  }

  .team-section-divider {
    border-bottom: 2px solid $color-brand-primary;
    width: 15%;

    @include respond-to(mobile) {
      width: 24%;
    }
  }

  .team-blurb {
    font-family: $font-base;
    font-size: $font-size-medium;
    margin: 24px 0 64px 0;
    line-height: 2rem;

    @include respond-to(mobile) {
      margin-bottom: 40px;
    }
  }

  .team-cards-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .team-info-card {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    background: $color-white;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 16px 12px 12px;
    margin-bottom: 15px;
  }

  .team-card-left-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-radius: 4px;
  }

  .team-card-stat {
    flex: 1;
    margin-right: 2px;
    font-weight: $font-weight-semibold;
    text-align: center;
  }

  .card-bg-dark { background-color: $color-brand-primary-dark; }
  .card-color-dark { color: $color-brand-primary-dark; }
  .card-bg-blue { background-color: $color-brand-primary; }
  .card-color-blue { color: $color-brand-primary; }
  .card-bg-soft-blue { background-color: $color-soft-blue; }
  .card-color-soft-blue { color: $color-soft-blue; }
  .card-bg-gray { background-color: $color-gray-light; }
  .card-color-gray { color: $color-gray-light; }

  .team-card-symbol {
    @include respond-to(not-mobile) {
      flex: 1;
    }
  }

  .team-card-profession {
    flex: 6;

    @include respond-to(mobile) {
      flex: 4;
    }
  }

  .team-info-container {
    display: flex;
    flex-direction: row;

    @include respond-to(mobile) {
      flex-direction: column;
    }
  }

  .team-info-panel {
    position: relative;
    margin-top: 24px;
    flex: 2;
    z-index: 1;

    @include respond-to(mobile) {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 0 auto;
    }
  }

  .team-panel-collab {
    @include respond-to(not-mobile) {
      // margin-top: -79px;
      margin-top: -37px;
    }
  }

  .doughnut-chart {
    flex: 1;
    margin-right: 101px;

    @include respond-to(not-mobile) {
      margin-top: 90px;
    }
  }

  .team-counter-container {
    position: absolute;
    top: 130px;
    left: 136px;

    @include respond-to(mobile) {
      width: 146px;
      top: 46%;
      left: 47%;
      margin-left: -50px;
      margin-top: -50px;
    }
  }

  .canvas-container {
    width: 390px;
    height: 390px;
    position: relative;

    @include respond-to(mobile) {
      width: 295px;
      height: 295px;
      margin: 0 auto;
    }
  }

  .counter {
    color: $color-brand-primary-dark;
    font-family: $font-base-semibold;
    font-size: $font-size-xxx-large;
  }

  .counter-text {
    color: $color-brand-primary-dark;
    font-family: $font-base;
    font-size: $font-size-large;
  }

  .map-container {

    @include respond-to(not-mobile) {
      margin: 217px 0 0 105px;
    }
  }

  .map-img {
    
    @include respond-to(mobile) {
      width: 100%;
    }
  }

  .geo-coverage-panel {

    @include respond-to(not-mobile) {
      position: absolute;
      bottom: 35%;
      left: 156px;
    }
  }

  .geo-blurb {
    width: 79%;
    margin-bottom: 6%;
  }

  .desktop-blurb-text {
    @include respond-to(mobile) {
      display: none;
    }
  }

}

.color-transition {
  background-color: $color-gray-medium;
  transition: 0.3s;
}

.transform-reset {
  transform: none;
}