@import '/_base';

.team-section {

  height: 1640px;

  $lower-section-height-desktop: 36vh;

  position: relative;

  @include respond-to(mobile) {
    height: auto;
    min-height: 1216px; //height of Our Team section
  }

  @include respond-to(not-mobile) {
    padding-top: $section-default-padding-tb;
    padding-right: 0;

    .section-content {
      height: 820px;
      margin-left: 78px;
    }
  }

  .team-intro-text {
    text-align: left;
    @include respond-to(mobile) {
      width: 100%;
      padding: 4px 0 48px 0;
      max-width: 272px;
    }
    @include respond-to(not-mobile) {
      width: 640px;
      max-width: 640px;
      padding-bottom: 108px;  // padding will almost certainly need to be adjusted but vertical responsive behavior has not yet been defined
      height: 44vh;   // somewhat arbitrary but seems to work well on most screen heights
    }
    .caption:first-of-type {
      margin: 0;
    }
    .heading-2 {
      margin-top: 16px;
      @include respond-to(mobile) {
        margin-top: 14px;
      }
    }
    .body-text-1 {
      line-height: 1.67;
      @include respond-to(mobile) {
        font-size: $font-size-medium;
        line-height: 2;
      }
    }
  }

  // .section-bg-gray {
  //   height: 820px;
  //   width: 100%;
  //   margin: 0 auto;
  //   position: relative;
  //   background-color: $color-gray-background-block;
  //   @include respond-to(not-mobile) {
  //     padding-top: $section-default-padding-tb;
  //   }
  // }

  .lower-portion-background {
    @include respond-to(mobile) {
      display: none;
    }
    height: 820px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $color-gray-background-block;

    .section-content {
      @include respond-to(not-mobile) {
        margin: 80px 0 0 240px;
      }
    }
  }

  .process-cards-container {
    z-index: 1;
    @include respond-to(not-mobile) {
      /* fixed width approach. allows cards to maintain width through most viewport sizes. */
      // $ideal-width: 960px;
      // width: $ideal-width;
      // @media screen and (max-width: $ideal-width) {
      //   width: 100%;
      // }

      /* relative width approach. preserves left/right whitespace but makes cards appear too narrow at many viewport sizes. */
      // width: calc(100% / 3 * 2);

      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }
    @include respond-to(mobile) {
      width: 100%;
      max-width: 307px;
      margin: auto;
    }
  }

  .dp-card {
    @include respond-to(not-mobile) {
      /* fixed margin approach. keeps space between cards constant at 20px regardless of viewport width. */
      // width: calc((100% - 40px) / 3);
      // margin: 0 20px 0 0;
      // &:last-of-type {
      //   margin: 0;
      // }

      /* flexible margin approach. allows space between cards to vary depending on viewport width. */
      max-width: 307px;
      z-index: 1;
    }
    @include respond-to(mobile) {
      width: 100%;
      margin: 0 0 20px 0;
      &:last-of-type {
        margin: 0;
      }
      padding-left: 24px;
      padding-right: 48px;
    }
  }

}