@import '/_base';

.work-section {
  $main-text-col-width: 1010px;
  $section-indent: 120px;

  background-color: #001532;

  background: $color-gray-super-light;
  height: auto;

  position: relative;
  overflow-x: hidden;

  @include respond-to(not-mobile) {
    height: $full-panel-height;
    padding: 0;
  }

  @include respond-to(mobile) {
    padding: 0 !important;
  }
  .two-thirds-desktop {
    @include respond-to(not-mobile) {
      height: 100%;
      width: 63%;
      float: left;
      padding-left: $section-default-padding-lr;
    }
    @include respond-to(mobile) {
      background: $color-gray-super-light;
      width: 100%;
      float: none;
    }
  }

  .one-third-desktop {
    min-height: 400px;
    @include respond-to(not-mobile) {
      height: 100%;
      width: 37%;
      float: right;
      padding-right: $section-default-padding-lr;
    }
    @include respond-to(mobile) {
      width: 100%;
      float: none;
    }
  }

  .work-background-image {
    @include respond-to(mobile) {
      background-image: linear-gradient(211deg, rgba(1, 70, 245, 0.8), rgba(0, 44, 155, 0.8)), url(../assets/work.png);
    }
    @include respond-to(tablet) {
      background-image: linear-gradient(211deg, rgba(1, 70, 245, 0.8), rgba(0, 44, 155, 0.8)),
        url(../assets/work@2x.png);
    }
    @include respond-to(desktop) {
      background-image: linear-gradient(211deg, rgba(1, 70, 245, 0.8), rgba(0, 44, 155, 0.8)),
        url(../assets/work@3x.png);
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: $color-brand-primary; // fallback
  }

  .caption:first-of-type {
    margin-bottom: 0;
  }
  .heading-block {
    margin-left: $section-indent;

    .heading-2 {
      margin-top: 20px;
      margin-bottom: 0;
      @include respond-to(mobile) {
        margin-top: 14px;
      }
    }
    .heading-3 {
      font-size: 2rem;
      line-height: 1.25;
      overflow-wrap: break-word;
      margin: 15px 0 30px 0;
    }
  }
  .work-main-text-col {
    width: $main-text-col-width;
    margin-left: $section-indent;
    padding: 68px 0;
    float: left;
    position: relative;
    top: -18px;

    @include respond-to(mobile) {
      width: 100%;
      padding: 40px;
      margin-left: 0;
    }
    .card-wrap {
      position: relative;
      width: 959px;
      height: 456px;

      .card {
        display: none;
        position: absolute;

        &.top {
          display: block;
        }

        @include respond-to(not-mobile) {
          width: 959px;
          height: 456px;
        }
        @include respond-to(mobile) {
          width: 80%;
          margin: 0 auto;
          float: none;
        }

        border-radius: 4px;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        .dp-card-title {
          font-size: $font-size-x-large;
        }
        .inner-card {
          position: relative;
          padding: 80px 0 0 0;
          margin: 0 0 0 5%;
          width: 45%;
          display: inline-block;

          .caption {
            margin-top: 0;
          }
        }
        .card-bg {
          position: relative;
          @include respond-to(not-mobile) {
            float: right;
            top: -45px;
            right: -50px;
          }

          .grid {
            background: url(../assets/grid.png) 0 0 no-repeat;
            @include respond-to(not-mobile) {
              width: 470px;
              height: 464px;
            }
          }
          .feat-img {
            position: absolute;

            &.laptop {
              background: url(../assets/laptop.png) 0 0 no-repeat;
              @include respond-to(not-mobile) {
                left: -30px;
                top: 10px;
                width: 460px;
                height: 441px;
              }
            }
            &.cellphone {
              background: url(../assets/cellphone.png) 0 0 no-repeat;
              @include respond-to(not-mobile) {
                left: 74px;
                top: -32px;
                width: 224px;
                height: 617px;
              }
            }
          }
        }
        .buttons {
          .btn {
            height: 40px;
            border-radius: 4px;
            border-color: #0146f5;
            border-style: solid;
            color: #0146f5;
            box-shadow: none;
            border-width: 2px;
            font-size: $font-size-x-small;
            font-weight: $font-weight-semibold;
            margin: 0 10px 0 0;

            &.pdf {
              border-color: #0146f5;
              background: #fff url(../assets/download.png) 10px 50% no-repeat;
              background-size: 8%;
              padding-left: 35px;
            }
            &.non-pdf {
              min-height: 24px;
              min-width: 24px;
              padding: 10px 20px;
              border-color: #8b96a4;
            }
            &.apple {
              background: #fff url(../assets/apple.png) 50% no-repeat;
              background-size: 50%;
            }
            &.google-play {
              background: #fff url(../assets/google-play.png) 50% no-repeat;
              background-size: 50%;
            }
          }
        }
      }
    }
  }

  .body-text-2 {
    line-height: 2;
    margin-bottom: 40px;
    @include respond-to(mobile) {
      margin-bottom: 32px;
    }
  }

  .prev,
  .next {
    display: inline-block;
    text-indent: -99999999px;
    position: absolute;
    top: 45%;
    right: -99px;
    width: 48px;
    height: 48px;
    background-color: #0146f5;
    background: #0146f5 url(../assets/chevron.png) 50% no-repeat;
    cursor: pointer;
    border: none;
    z-index: 999;

    &.disabled {
      background: #fafafa url(../assets/chevron-grey.png) 50% no-repeat;
    }
  }
  .prev {
    right: auto;
    left: -91px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
  }
  .slide-progress {
    width: 12.5%;
    margin: 40px auto 0 auto;

    .pr-btn {
      background-color: #afb4be;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      display: inline-block;
      float: left;
      margin: 0 16px 0 0;

      &.pr-btn-active {
        background-color: #0146f5;
        width: 10px;
        height: 10px;
        margin-top: -1px;
      }
    }
  }
}
