@import '/_base';

body, html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 16px !important;
}

h1 {
  color: $color-brand-primary;
  margin: 0 !important;
}

.title {
  color: $color-brand-primary;
  font-family: graphik;
  font-weight: $font-weight-thin;
  font-style: italic;
}

section {
  height: 25rem;
  margin: 0.625rem 0;

  @include respond-to(mobile) { padding-top: 3.75rem !important; }
}


