@import '/_base';

body, html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 16px !important;
  -webkit-overflow-scrolling: touch;
}

section {
  height: auto;
  min-height: $full-panel-height; 
  clear: both;
  @include section-standard-padding;
  @include respond-to(mobile) { 
    padding: 3.75rem 2.5rem 0 !important; 
  }
}

.section-content {
  height: 100%;
  width: 100%;
  max-width: $standard-content-width;
  margin: 0 auto;
  position: relative;
}